@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,700);

html, body, #map {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
html, body, #mapDiv {
      padding: 0;
      margin: 0;
      height: 100%;
}
body {
    background-color:#FFF;
    overflow:hidden;
    font-family:"Raleway";
}
#hovnav
{
  position: fixed;
  width: 35px;
  height: 35px;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
}
#hovnav img
{
  height: 100%;
  width: 100%;
}